<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Summariser</title>
    </head>
    <body>
        <h1>Summariser</h1>
        <form action="/topics" method="POST" name="sum">
            Paste your Document here :
            <br><br>
            <textarea name="message" rows="50" cols="120"></textarea>
            <br><br>
            <button name="forwardBtn" onclick="move_forward()">Submit</button>
            </form>
    </body>
</html>